@model Cnd.Sandbox.Mvc.Playground.Models.PersonViewModel

<form action="/Home/Edit" method="Post">
    Name : <input type="text" name="Name" /> <br/>
    Age : <input type="text" name="Age" /> <br/>
    Gender: <input type="text" name="Gender" /> <br/>
    <input type="submit" name="Submit" />
</form>