<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Anka" Description="Anka" ToolsVersion="15.0">
  <Rules AnalyzerId="AsyncUsageAnalyzers" RuleNamespace="AsyncUsageAnalyzers">
    <Rule Id="UseConfigureAwait" Action="None" />
  </Rules>
  <Rules AnalyzerId="FSharp.Editor" RuleNamespace="FSharp.Editor">
    <Rule Id="FS1182" Action="None" />
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0005" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
    <Rule Id="CA1020" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1033" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1045" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1053" Action="Warning" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1306" Action="Warning" />
    <Rule Id="CA1500" Action="Warning" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA1704" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1710" Action="Warning" />
    <Rule Id="CA1712" Action="Warning" />
    <Rule Id="CA1713" Action="Warning" />
    <Rule Id="CA1715" Action="Warning" />
    <Rule Id="CA1721" Action="Warning" />
    <Rule Id="CA1722" Action="Warning" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1810" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1820" Action="Warning" />
    <Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2100" Action="Warning" />
    <Rule Id="CA2111" Action="Warning" />
    <Rule Id="CA2116" Action="Warning" />
    <Rule Id="CA2121" Action="Warning" />
    <Rule Id="CA2123" Action="Warning" />
    <Rule Id="CA2124" Action="Warning" />
    <Rule Id="CA2201" Action="Warning" />
    <Rule Id="CA2213" Action="Warning" />
    <Rule Id="CA2242" Action="Warning" />
    <Rule Id="CA3076" Action="Warning" />
    <Rule Id="CA3077" Action="Warning" />
    <Rule Id="CA3147" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="CS0169" Action="None" />
    <Rule Id="CS0649" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
    <Rule Id="CS8019" Action="None" />
    <Rule Id="CS8020" Action="None" />
    <Rule Id="CS8040" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.EditorFeatures" RuleNamespace="Microsoft.CodeAnalysis.CSharp.EditorFeatures">
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0004WithoutSuggestion" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0007" Action="None" />
    <Rule Id="IDE0007WithoutSuggestion" Action="None" />
    <Rule Id="IDE0008" Action="None" />
    <Rule Id="IDE0008WithoutSuggestion" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0011" Action="None" />
    <Rule Id="IDE0011WithoutSuggestion" Action="None" />
    <Rule Id="IDE0012" Action="None" />
    <Rule Id="IDE0013" Action="None" />
    <Rule Id="IDE0014" Action="None" />
    <Rule Id="IDE0015" Action="None" />
    <Rule Id="IDE0016" Action="None" />
    <Rule Id="IDE0016WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0018" Action="None" />
    <Rule Id="IDE0018WithoutSuggestion" Action="None" />
    <Rule Id="IDE0019" Action="None" />
    <Rule Id="IDE0019WithoutSuggestion" Action="None" />
    <Rule Id="IDE0020" Action="None" />
    <Rule Id="IDE0020WithoutSuggestion" Action="None" />
    <Rule Id="IDE0021" Action="None" />
    <Rule Id="IDE0021WithoutSuggestion" Action="None" />
    <Rule Id="IDE0022" Action="None" />
    <Rule Id="IDE0022WithoutSuggestion" Action="None" />
    <Rule Id="IDE0023" Action="None" />
    <Rule Id="IDE0023WithoutSuggestion" Action="None" />
    <Rule Id="IDE0024" Action="None" />
    <Rule Id="IDE0024WithoutSuggestion" Action="None" />
    <Rule Id="IDE0025" Action="None" />
    <Rule Id="IDE0025WithoutSuggestion" Action="None" />
    <Rule Id="IDE0026" Action="None" />
    <Rule Id="IDE0026WithoutSuggestion" Action="None" />
    <Rule Id="IDE0027" Action="None" />
    <Rule Id="IDE0027WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE0043" Action="None" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0044WithoutSuggestion" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0045WithoutSuggestion" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0046WithoutSuggestion" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0047WithoutSuggestion" Action="None" />
    <Rule Id="IDE0048" Action="None" />
    <Rule Id="IDE0048WithoutSuggestion" Action="None" />
    <Rule Id="IDE0049" Action="None" />
    <Rule Id="IDE0049WithoutSuggestion" Action="None" />
    <Rule Id="IDE1005" Action="None" />
    <Rule Id="IDE1005WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Features" RuleNamespace="Microsoft.CodeAnalysis.Features">
    <Rule Id="IDE0010" Action="None" />
    <Rule Id="IDE0010WithoutSuggestion" Action="None" />
    <Rule Id="IDE0033" Action="None" />
    <Rule Id="IDE0033WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic">
    <Rule Id="AD0001" Action="None" />
    <Rule Id="BC2025" Action="None" />
    <Rule Id="BC40000" Action="None" />
    <Rule Id="BC40001" Action="None" />
    <Rule Id="BC40003" Action="None" />
    <Rule Id="BC40004" Action="None" />
    <Rule Id="BC40005" Action="None" />
    <Rule Id="BC40007" Action="None" />
    <Rule Id="BC40008" Action="None" />
    <Rule Id="BC40009" Action="None" />
    <Rule Id="BC40010" Action="None" />
    <Rule Id="BC40011" Action="None" />
    <Rule Id="BC40012" Action="None" />
    <Rule Id="BC40014" Action="None" />
    <Rule Id="BC40018" Action="None" />
    <Rule Id="BC40019" Action="None" />
    <Rule Id="BC40020" Action="None" />
    <Rule Id="BC40025" Action="None" />
    <Rule Id="BC40026" Action="None" />
    <Rule Id="BC40027" Action="None" />
    <Rule Id="BC40028" Action="None" />
    <Rule Id="BC40029" Action="None" />
    <Rule Id="BC40030" Action="None" />
    <Rule Id="BC40031" Action="None" />
    <Rule Id="BC40032" Action="None" />
    <Rule Id="BC40033" Action="None" />
    <Rule Id="BC40034" Action="None" />
    <Rule Id="BC40035" Action="None" />
    <Rule Id="BC40038" Action="None" />
    <Rule Id="BC40039" Action="None" />
    <Rule Id="BC40040" Action="None" />
    <Rule Id="BC40041" Action="None" />
    <Rule Id="BC40042" Action="None" />
    <Rule Id="BC40043" Action="None" />
    <Rule Id="BC40046" Action="None" />
    <Rule Id="BC40048" Action="None" />
    <Rule Id="BC40049" Action="None" />
    <Rule Id="BC40050" Action="None" />
    <Rule Id="BC40051" Action="None" />
    <Rule Id="BC40052" Action="None" />
    <Rule Id="BC40053" Action="None" />
    <Rule Id="BC40054" Action="None" />
    <Rule Id="BC40055" Action="None" />
    <Rule Id="BC40056" Action="None" />
    <Rule Id="BC40057" Action="None" />
    <Rule Id="BC40059" Action="None" />
    <Rule Id="BC40060" Action="None" />
    <Rule Id="BC40998" Action="None" />
    <Rule Id="BC41001" Action="None" />
    <Rule Id="BC41002" Action="None" />
    <Rule Id="BC41003" Action="None" />
    <Rule Id="BC41004" Action="None" />
    <Rule Id="BC41005" Action="None" />
    <Rule Id="BC41006" Action="None" />
    <Rule Id="BC41007" Action="None" />
    <Rule Id="BC41008" Action="None" />
    <Rule Id="BC41009" Action="None" />
    <Rule Id="BC41997" Action="None" />
    <Rule Id="BC41998" Action="None" />
    <Rule Id="BC41999" Action="None" />
    <Rule Id="BC42000" Action="None" />
    <Rule Id="BC42004" Action="None" />
    <Rule Id="BC42016" Action="None" />
    <Rule Id="BC42017" Action="None" />
    <Rule Id="BC42018" Action="None" />
    <Rule Id="BC42019" Action="None" />
    <Rule Id="BC42020" Action="None" />
    <Rule Id="BC42021" Action="None" />
    <Rule Id="BC42022" Action="None" />
    <Rule Id="BC42024" Action="None" />
    <Rule Id="BC42025" Action="None" />
    <Rule Id="BC42026" Action="None" />
    <Rule Id="BC42029" Action="None" />
    <Rule Id="BC42030" Action="None" />
    <Rule Id="BC42031" Action="None" />
    <Rule Id="BC42032" Action="None" />
    <Rule Id="BC42033" Action="None" />
    <Rule Id="BC42034" Action="None" />
    <Rule Id="BC42035" Action="None" />
    <Rule Id="BC42036" Action="None" />
    <Rule Id="BC42037" Action="None" />
    <Rule Id="BC42038" Action="None" />
    <Rule Id="BC42099" Action="None" />
    <Rule Id="BC42101" Action="None" />
    <Rule Id="BC42102" Action="None" />
    <Rule Id="BC42104" Action="None" />
    <Rule Id="BC42105" Action="None" />
    <Rule Id="BC42106" Action="None" />
    <Rule Id="BC42107" Action="None" />
    <Rule Id="BC42108" Action="None" />
    <Rule Id="BC42109" Action="None" />
    <Rule Id="BC42111" Action="None" />
    <Rule Id="BC42207" Action="None" />
    <Rule Id="BC42300" Action="None" />
    <Rule Id="BC42301" Action="None" />
    <Rule Id="BC42302" Action="None" />
    <Rule Id="BC42303" Action="None" />
    <Rule Id="BC42304" Action="None" />
    <Rule Id="BC42305" Action="None" />
    <Rule Id="BC42306" Action="None" />
    <Rule Id="BC42307" Action="None" />
    <Rule Id="BC42308" Action="None" />
    <Rule Id="BC42309" Action="None" />
    <Rule Id="BC42310" Action="None" />
    <Rule Id="BC42311" Action="None" />
    <Rule Id="BC42312" Action="None" />
    <Rule Id="BC42313" Action="None" />
    <Rule Id="BC42314" Action="None" />
    <Rule Id="BC42315" Action="None" />
    <Rule Id="BC42316" Action="None" />
    <Rule Id="BC42317" Action="None" />
    <Rule Id="BC42318" Action="None" />
    <Rule Id="BC42319" Action="None" />
    <Rule Id="BC42320" Action="None" />
    <Rule Id="BC42321" Action="None" />
    <Rule Id="BC42322" Action="None" />
    <Rule Id="BC42324" Action="None" />
    <Rule Id="BC42326" Action="None" />
    <Rule Id="BC42327" Action="None" />
    <Rule Id="BC42328" Action="None" />
    <Rule Id="BC42332" Action="None" />
    <Rule Id="BC42333" Action="None" />
    <Rule Id="BC42334" Action="None" />
    <Rule Id="BC42335" Action="None" />
    <Rule Id="BC42336" Action="None" />
    <Rule Id="BC42337" Action="None" />
    <Rule Id="BC42338" Action="None" />
    <Rule Id="BC42339" Action="None" />
    <Rule Id="BC42340" Action="None" />
    <Rule Id="BC42341" Action="None" />
    <Rule Id="BC42342" Action="None" />
    <Rule Id="BC42343" Action="None" />
    <Rule Id="BC42344" Action="None" />
    <Rule Id="BC42345" Action="None" />
    <Rule Id="BC42346" Action="None" />
    <Rule Id="BC42347" Action="None" />
    <Rule Id="BC42348" Action="None" />
    <Rule Id="BC42349" Action="None" />
    <Rule Id="BC42350" Action="None" />
    <Rule Id="BC42351" Action="None" />
    <Rule Id="BC42352" Action="None" />
    <Rule Id="BC42353" Action="None" />
    <Rule Id="BC42354" Action="None" />
    <Rule Id="BC42355" Action="None" />
    <Rule Id="BC42356" Action="None" />
    <Rule Id="BC42357" Action="None" />
    <Rule Id="BC42358" Action="None" />
    <Rule Id="BC42359" Action="None" />
    <Rule Id="BC42360" Action="None" />
    <Rule Id="BC42361" Action="None" />
    <Rule Id="BC42364" Action="None" />
    <Rule Id="BC42366" Action="None" />
    <Rule Id="BC42367" Action="None" />
    <Rule Id="BC42368" Action="None" />
    <Rule Id="BC42369" Action="None" />
    <Rule Id="BC42370" Action="None" />
    <Rule Id="BC42371" Action="None" />
    <Rule Id="BC42372" Action="None" />
    <Rule Id="BC42373" Action="None" />
    <Rule Id="BC42374" Action="None" />
    <Rule Id="BC42375" Action="None" />
    <Rule Id="BC42376" Action="None" />
    <Rule Id="BC42377" Action="None" />
    <Rule Id="BC42378" Action="None" />
    <Rule Id="BC42379" Action="None" />
    <Rule Id="BC42380" Action="None" />
    <Rule Id="CS2008" Action="None" />
    <Rule Id="CS2023" Action="None" />
    <Rule Id="CS2029" Action="None" />
    <Rule Id="CS2038" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.VisualBasic.Features" RuleNamespace="Microsoft.CodeAnalysis.VisualBasic.Features">
    <Rule Id="IDE0001" Action="None" />
    <Rule Id="IDE0002" Action="None" />
    <Rule Id="IDE0003" Action="None" />
    <Rule Id="IDE0003WithoutSuggestion" Action="None" />
    <Rule Id="IDE0004" Action="None" />
    <Rule Id="IDE0004WithoutSuggestion" Action="None" />
    <Rule Id="IDE0005" Action="None" />
    <Rule Id="IDE0009" Action="None" />
    <Rule Id="IDE0009WithoutSuggestion" Action="None" />
    <Rule Id="IDE0017" Action="None" />
    <Rule Id="IDE0017WithoutSuggestion" Action="None" />
    <Rule Id="IDE0028" Action="None" />
    <Rule Id="IDE0028WithoutSuggestion" Action="None" />
    <Rule Id="IDE0029" Action="None" />
    <Rule Id="IDE0029WithoutSuggestion" Action="None" />
    <Rule Id="IDE0030" Action="None" />
    <Rule Id="IDE0030WithoutSuggestion" Action="None" />
    <Rule Id="IDE0031" Action="None" />
    <Rule Id="IDE0031WithoutSuggestion" Action="None" />
    <Rule Id="IDE0032" Action="Warning" />
    <Rule Id="IDE0032WithoutSuggestion" Action="Warning" />
    <Rule Id="IDE0036" Action="None" />
    <Rule Id="IDE0036WithoutSuggestion" Action="None" />
    <Rule Id="IDE0037" Action="None" />
    <Rule Id="IDE0037WithoutSuggestion" Action="None" />
    <Rule Id="IDE0040" Action="None" />
    <Rule Id="IDE0040WithoutSuggestion" Action="None" />
    <Rule Id="IDE0041" Action="None" />
    <Rule Id="IDE0041WithoutSuggestion" Action="None" />
    <Rule Id="IDE0043" Action="None" />
    <Rule Id="IDE0044" Action="None" />
    <Rule Id="IDE0044WithoutSuggestion" Action="None" />
    <Rule Id="IDE0045" Action="None" />
    <Rule Id="IDE0045WithoutSuggestion" Action="None" />
    <Rule Id="IDE0046" Action="None" />
    <Rule Id="IDE0046WithoutSuggestion" Action="None" />
    <Rule Id="IDE0047" Action="None" />
    <Rule Id="IDE0047WithoutSuggestion" Action="None" />
    <Rule Id="IDE0048" Action="None" />
    <Rule Id="IDE0048WithoutSuggestion" Action="None" />
    <Rule Id="IDE0049" Action="None" />
    <Rule Id="IDE0049WithoutSuggestion" Action="None" />
    <Rule Id="IDE1006" Action="None" />
    <Rule Id="IDE1006WithoutSuggestion" Action="None" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S100" Action="None" />
    <Rule Id="S1006" Action="Warning" />
    <Rule Id="S101" Action="Warning" />
    <Rule Id="S103" Action="None" />
    <Rule Id="S104" Action="None" />
    <Rule Id="S1048" Action="Warning" />
    <Rule Id="S105" Action="None" />
    <Rule Id="S1066" Action="Warning" />
    <Rule Id="S1067" Action="None" />
    <Rule Id="S107" Action="Warning" />
    <Rule Id="S1075" Action="Warning" />
    <Rule Id="S108" Action="Warning" />
    <Rule Id="S109" Action="None" />
    <Rule Id="S110" Action="Warning" />
    <Rule Id="S1104" Action="Warning" />
    <Rule Id="S1109" Action="None" />
    <Rule Id="S1110" Action="Warning" />
    <Rule Id="S1116" Action="Warning" />
    <Rule Id="S1117" Action="Warning" />
    <Rule Id="S1118" Action="Warning" />
    <Rule Id="S112" Action="Warning" />
    <Rule Id="S1121" Action="Warning" />
    <Rule Id="S1123" Action="Warning" />
    <Rule Id="S1125" Action="Warning" />
    <Rule Id="S113" Action="None" />
    <Rule Id="S1134" Action="Warning" />
    <Rule Id="S1135" Action="Warning" />
    <Rule Id="S1144" Action="Warning" />
    <Rule Id="S1145" Action="None" />
    <Rule Id="S1147" Action="None" />
    <Rule Id="S1151" Action="None" />
    <Rule Id="S1155" Action="Warning" />
    <Rule Id="S1163" Action="Warning" />
    <Rule Id="S1168" Action="Warning" />
    <Rule Id="S1172" Action="Warning" />
    <Rule Id="S1185" Action="Warning" />
    <Rule Id="S1186" Action="Warning" />
    <Rule Id="S1192" Action="None" />
    <Rule Id="S1200" Action="None" />
    <Rule Id="S1206" Action="Warning" />
    <Rule Id="S121" Action="None" />
    <Rule Id="S1210" Action="Warning" />
    <Rule Id="S1215" Action="Warning" />
    <Rule Id="S122" Action="None" />
    <Rule Id="S1226" Action="None" />
    <Rule Id="S1227" Action="None" />
    <Rule Id="S1244" Action="None" />
    <Rule Id="S125" Action="Warning" />
    <Rule Id="S126" Action="None" />
    <Rule Id="S1264" Action="Warning" />
    <Rule Id="S127" Action="None" />
    <Rule Id="S1301" Action="None" />
    <Rule Id="S1309" Action="None" />
    <Rule Id="S131" Action="None" />
    <Rule Id="S1313" Action="None" />
    <Rule Id="S134" Action="None" />
    <Rule Id="S138" Action="None" />
    <Rule Id="S1449" Action="None" />
    <Rule Id="S1450" Action="Warning" />
    <Rule Id="S1451" Action="None" />
    <Rule Id="S1479" Action="Warning" />
    <Rule Id="S1481" Action="Warning" />
    <Rule Id="S1541" Action="None" />
    <Rule Id="S1607" Action="Warning" />
    <Rule Id="S1643" Action="Warning" />
    <Rule Id="S1656" Action="Warning" />
    <Rule Id="S1659" Action="None" />
    <Rule Id="S1694" Action="None" />
    <Rule Id="S1696" Action="None" />
    <Rule Id="S1697" Action="None" />
    <Rule Id="S1698" Action="None" />
    <Rule Id="S1699" Action="Warning" />
    <Rule Id="S1751" Action="Warning" />
    <Rule Id="S1764" Action="Warning" />
    <Rule Id="S1821" Action="None" />
    <Rule Id="S1848" Action="Warning" />
    <Rule Id="S1854" Action="Warning" />
    <Rule Id="S1858" Action="None" />
    <Rule Id="S1862" Action="Warning" />
    <Rule Id="S1871" Action="Warning" />
    <Rule Id="S1905" Action="Warning" />
    <Rule Id="S1939" Action="Warning" />
    <Rule Id="S1940" Action="Warning" />
    <Rule Id="S1944" Action="Warning" />
    <Rule Id="S1994" Action="None" />
    <Rule Id="S2068" Action="Warning" />
    <Rule Id="S2070" Action="None" />
    <Rule Id="S2092" Action="None" />
    <Rule Id="S2114" Action="Warning" />
    <Rule Id="S2123" Action="Warning" />
    <Rule Id="S2156" Action="None" />
    <Rule Id="S2178" Action="Warning" />
    <Rule Id="S2183" Action="Warning" />
    <Rule Id="S2184" Action="Warning" />
    <Rule Id="S2187" Action="Warning" />
    <Rule Id="S2190" Action="Warning" />
    <Rule Id="S2197" Action="None" />
    <Rule Id="S2201" Action="Warning" />
    <Rule Id="S2219" Action="Warning" />
    <Rule Id="S2221" Action="None" />
    <Rule Id="S2223" Action="Warning" />
    <Rule Id="S2225" Action="Warning" />
    <Rule Id="S2228" Action="None" />
    <Rule Id="S2234" Action="Warning" />
    <Rule Id="S2245" Action="None" />
    <Rule Id="S2255" Action="None" />
    <Rule Id="S2259" Action="Warning" />
    <Rule Id="S2275" Action="Warning" />
    <Rule Id="S2278" Action="Warning" />
    <Rule Id="S2290" Action="Warning" />
    <Rule Id="S2291" Action="Warning" />
    <Rule Id="S2292" Action="Warning" />
    <Rule Id="S2302" Action="None" />
    <Rule Id="S2306" Action="Warning" />
    <Rule Id="S2325" Action="None" />
    <Rule Id="S2326" Action="Warning" />
    <Rule Id="S2327" Action="Warning" />
    <Rule Id="S2328" Action="Warning" />
    <Rule Id="S2330" Action="None" />
    <Rule Id="S2333" Action="None" />
    <Rule Id="S2339" Action="None" />
    <Rule Id="S2342" Action="Warning" />
    <Rule Id="S2344" Action="Warning" />
    <Rule Id="S2345" Action="Warning" />
    <Rule Id="S2346" Action="Warning" />
    <Rule Id="S2357" Action="None" />
    <Rule Id="S2360" Action="None" />
    <Rule Id="S2365" Action="Warning" />
    <Rule Id="S2368" Action="Warning" />
    <Rule Id="S2372" Action="Warning" />
    <Rule Id="S2376" Action="Warning" />
    <Rule Id="S2386" Action="Warning" />
    <Rule Id="S2387" Action="None" />
    <Rule Id="S2436" Action="Warning" />
    <Rule Id="S2437" Action="Warning" />
    <Rule Id="S2486" Action="Warning" />
    <Rule Id="S2551" Action="None" />
    <Rule Id="S2583" Action="Warning" />
    <Rule Id="S2589" Action="Warning" />
    <Rule Id="S2674" Action="None" />
    <Rule Id="S2681" Action="Warning" />
    <Rule Id="S2688" Action="Warning" />
    <Rule Id="S2692" Action="Warning" />
    <Rule Id="S2696" Action="Warning" />
    <Rule Id="S2699" Action="None" />
    <Rule Id="S2701" Action="None" />
    <Rule Id="S2737" Action="Warning" />
    <Rule Id="S2743" Action="Warning" />
    <Rule Id="S2757" Action="Warning" />
    <Rule Id="S2758" Action="Warning" />
    <Rule Id="S2760" Action="None" />
    <Rule Id="S2761" Action="Warning" />
    <Rule Id="S2930" Action="Warning" />
    <Rule Id="S2931" Action="None" />
    <Rule Id="S2933" Action="Warning" />
    <Rule Id="S2934" Action="Warning" />
    <Rule Id="S2952" Action="None" />
    <Rule Id="S2953" Action="Warning" />
    <Rule Id="S2955" Action="None" />
    <Rule Id="S2971" Action="Warning" />
    <Rule Id="S2995" Action="Warning" />
    <Rule Id="S2996" Action="Warning" />
    <Rule Id="S2997" Action="Warning" />
    <Rule Id="S3005" Action="Warning" />
    <Rule Id="S3010" Action="Warning" />
    <Rule Id="S3052" Action="None" />
    <Rule Id="S3060" Action="Warning" />
    <Rule Id="S3168" Action="Warning" />
    <Rule Id="S3169" Action="Warning" />
    <Rule Id="S3172" Action="Warning" />
    <Rule Id="S3215" Action="None" />
    <Rule Id="S3216" Action="None" />
    <Rule Id="S3217" Action="Warning" />
    <Rule Id="S3218" Action="Warning" />
    <Rule Id="S3220" Action="Warning" />
    <Rule Id="S3234" Action="None" />
    <Rule Id="S3235" Action="None" />
    <Rule Id="S3236" Action="Warning" />
    <Rule Id="S3237" Action="Warning" />
    <Rule Id="S3240" Action="None" />
    <Rule Id="S3241" Action="Warning" />
    <Rule Id="S3242" Action="None" />
    <Rule Id="S3244" Action="Warning" />
    <Rule Id="S3246" Action="Warning" />
    <Rule Id="S3247" Action="Warning" />
    <Rule Id="S3249" Action="Warning" />
    <Rule Id="S3251" Action="Warning" />
    <Rule Id="S3253" Action="None" />
    <Rule Id="S3254" Action="None" />
    <Rule Id="S3256" Action="Warning" />
    <Rule Id="S3257" Action="None" />
    <Rule Id="S3261" Action="Warning" />
    <Rule Id="S3262" Action="Warning" />
    <Rule Id="S3263" Action="Warning" />
    <Rule Id="S3264" Action="Warning" />
    <Rule Id="S3265" Action="Warning" />
    <Rule Id="S3330" Action="None" />
    <Rule Id="S3343" Action="Warning" />
    <Rule Id="S3346" Action="Warning" />
    <Rule Id="S3353" Action="None" />
    <Rule Id="S3358" Action="Warning" />
    <Rule Id="S3366" Action="None" />
    <Rule Id="S3376" Action="Warning" />
    <Rule Id="S3397" Action="Warning" />
    <Rule Id="S3400" Action="Warning" />
    <Rule Id="S3415" Action="Warning" />
    <Rule Id="S3427" Action="Warning" />
    <Rule Id="S3431" Action="None" />
    <Rule Id="S3433" Action="Warning" />
    <Rule Id="S3440" Action="Warning" />
    <Rule Id="S3441" Action="None" />
    <Rule Id="S3442" Action="Warning" />
    <Rule Id="S3443" Action="Warning" />
    <Rule Id="S3444" Action="Warning" />
    <Rule Id="S3445" Action="Warning" />
    <Rule Id="S3447" Action="Warning" />
    <Rule Id="S3449" Action="Warning" />
    <Rule Id="S3450" Action="Warning" />
    <Rule Id="S3451" Action="Warning" />
    <Rule Id="S3453" Action="Warning" />
    <Rule Id="S3456" Action="Warning" />
    <Rule Id="S3457" Action="Warning" />
    <Rule Id="S3458" Action="Warning" />
    <Rule Id="S3459" Action="Warning" />
    <Rule Id="S3464" Action="Warning" />
    <Rule Id="S3466" Action="Warning" />
    <Rule Id="S3532" Action="None" />
    <Rule Id="S3597" Action="Warning" />
    <Rule Id="S3598" Action="Warning" />
    <Rule Id="S3600" Action="Warning" />
    <Rule Id="S3603" Action="Warning" />
    <Rule Id="S3604" Action="Warning" />
    <Rule Id="S3610" Action="Warning" />
    <Rule Id="S3626" Action="Warning" />
    <Rule Id="S3655" Action="Warning" />
    <Rule Id="S3693" Action="Warning" />
    <Rule Id="S3717" Action="None" />
    <Rule Id="S3776" Action="Warning" />
    <Rule Id="S3869" Action="Warning" />
    <Rule Id="S3871" Action="Warning" />
    <Rule Id="S3872" Action="None" />
    <Rule Id="S3874" Action="None" />
    <Rule Id="S3875" Action="Warning" />
    <Rule Id="S3876" Action="None" />
    <Rule Id="S3877" Action="Warning" />
    <Rule Id="S3880" Action="None" />
    <Rule Id="S3881" Action="Warning" />
    <Rule Id="S3884" Action="Warning" />
    <Rule Id="S3885" Action="Warning" />
    <Rule Id="S3887" Action="Warning" />
    <Rule Id="S3889" Action="Warning" />
    <Rule Id="S3897" Action="Warning" />
    <Rule Id="S3898" Action="None" />
    <Rule Id="S3900" Action="None" />
    <Rule Id="S3902" Action="None" />
    <Rule Id="S3903" Action="Warning" />
    <Rule Id="S3904" Action="Warning" />
    <Rule Id="S3906" Action="None" />
    <Rule Id="S3908" Action="None" />
    <Rule Id="S3909" Action="None" />
    <Rule Id="S3923" Action="Warning" />
    <Rule Id="S3925" Action="Warning" />
    <Rule Id="S3926" Action="Warning" />
    <Rule Id="S3927" Action="Warning" />
    <Rule Id="S3928" Action="Warning" />
    <Rule Id="S3956" Action="None" />
    <Rule Id="S3962" Action="None" />
    <Rule Id="S3963" Action="None" />
    <Rule Id="S3966" Action="Warning" />
    <Rule Id="S3967" Action="None" />
    <Rule Id="S3971" Action="Warning" />
    <Rule Id="S3972" Action="Warning" />
    <Rule Id="S3973" Action="Warning" />
    <Rule Id="S3981" Action="Warning" />
    <Rule Id="S3984" Action="Warning" />
    <Rule Id="S3990" Action="None" />
    <Rule Id="S3992" Action="None" />
    <Rule Id="S3993" Action="None" />
    <Rule Id="S3994" Action="None" />
    <Rule Id="S3995" Action="None" />
    <Rule Id="S3996" Action="None" />
    <Rule Id="S3997" Action="None" />
    <Rule Id="S3998" Action="Warning" />
    <Rule Id="S4000" Action="None" />
    <Rule Id="S4002" Action="None" />
    <Rule Id="S4004" Action="None" />
    <Rule Id="S4005" Action="None" />
    <Rule Id="S4015" Action="Warning" />
    <Rule Id="S4016" Action="Warning" />
    <Rule Id="S4017" Action="None" />
    <Rule Id="S4018" Action="None" />
    <Rule Id="S4019" Action="Warning" />
    <Rule Id="S4022" Action="None" />
    <Rule Id="S4023" Action="None" />
    <Rule Id="S4025" Action="None" />
    <Rule Id="S4026" Action="None" />
    <Rule Id="S4027" Action="None" />
    <Rule Id="S4035" Action="Warning" />
    <Rule Id="S4039" Action="None" />
    <Rule Id="S4040" Action="None" />
    <Rule Id="S4041" Action="None" />
    <Rule Id="S4047" Action="None" />
    <Rule Id="S4049" Action="None" />
    <Rule Id="S4050" Action="None" />
    <Rule Id="S4052" Action="None" />
    <Rule Id="S4055" Action="None" />
    <Rule Id="S4056" Action="None" />
    <Rule Id="S4057" Action="None" />
    <Rule Id="S4058" Action="None" />
    <Rule Id="S4059" Action="None" />
    <Rule Id="S4060" Action="None" />
    <Rule Id="S4061" Action="Warning" />
    <Rule Id="S4069" Action="None" />
    <Rule Id="S4070" Action="None" />
    <Rule Id="S4142" Action="None" />
    <Rule Id="S4143" Action="Warning" />
    <Rule Id="S4144" Action="Warning" />
    <Rule Id="S4158" Action="Warning" />
    <Rule Id="S4159" Action="Warning" />
    <Rule Id="S4200" Action="Warning" />
    <Rule Id="S4210" Action="Warning" />
    <Rule Id="S4211" Action="Warning" />
    <Rule Id="S4212" Action="None" />
    <Rule Id="S4214" Action="Warning" />
    <Rule Id="S4220" Action="Warning" />
    <Rule Id="S4225" Action="None" />
    <Rule Id="S4226" Action="None" />
    <Rule Id="S4260" Action="Warning" />
    <Rule Id="S4261" Action="None" />
    <Rule Id="S4275" Action="Warning" />
    <Rule Id="S4277" Action="Warning" />
    <Rule Id="S4426" Action="Warning" />
    <Rule Id="S4428" Action="Warning" />
    <Rule Id="S4432" Action="None" />
    <Rule Id="S4433" Action="Warning" />
    <Rule Id="S4456" Action="Warning" />
    <Rule Id="S4457" Action="Warning" />
    <Rule Id="S4462" Action="None" />
    <Rule Id="S4524" Action="None" />
    <Rule Id="S4564" Action="None" />
    <Rule Id="S4581" Action="Warning" />
    <Rule Id="S4586" Action="Warning" />
    <Rule Id="S818" Action="Warning" />
    <Rule Id="S881" Action="None" />
    <Rule Id="S907" Action="Warning" />
    <Rule Id="S927" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1000" Action="Warning" />
    <Rule Id="SA1001" Action="Warning" />
    <Rule Id="SA1002" Action="Warning" />
    <Rule Id="SA1003" Action="Warning" />
    <Rule Id="SA1004" Action="Warning" />
    <Rule Id="SA1005" Action="Warning" />
    <Rule Id="SA1006" Action="Warning" />
    <Rule Id="SA1007" Action="Warning" />
    <Rule Id="SA1008" Action="Warning" />
    <Rule Id="SA1009" Action="Warning" />
    <Rule Id="SA1010" Action="Warning" />
    <Rule Id="SA1011" Action="Warning" />
    <Rule Id="SA1012" Action="Warning" />
    <Rule Id="SA1013" Action="Warning" />
    <Rule Id="SA1014" Action="Warning" />
    <Rule Id="SA1015" Action="Warning" />
    <Rule Id="SA1016" Action="Warning" />
    <Rule Id="SA1017" Action="Warning" />
    <Rule Id="SA1018" Action="Warning" />
    <Rule Id="SA1019" Action="Warning" />
    <Rule Id="SA1020" Action="Warning" />
    <Rule Id="SA1021" Action="Warning" />
    <Rule Id="SA1022" Action="Warning" />
    <Rule Id="SA1023" Action="Warning" />
    <Rule Id="SA1024" Action="Warning" />
    <Rule Id="SA1025" Action="Warning" />
    <Rule Id="SA1026" Action="Warning" />
    <Rule Id="SA1027" Action="Warning" />
    <Rule Id="SA1028" Action="Warning" />
    <Rule Id="SA1034" Action="None" />
    <Rule Id="SA1100" Action="Warning" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1102" Action="Warning" />
    <Rule Id="SA1103" Action="Warning" />
    <Rule Id="SA1104" Action="Warning" />
    <Rule Id="SA1105" Action="Warning" />
    <Rule Id="SA1106" Action="Warning" />
    <Rule Id="SA1107" Action="Warning" />
    <Rule Id="SA1108" Action="Warning" />
    <Rule Id="SA1110" Action="Warning" />
    <Rule Id="SA1111" Action="Warning" />
    <Rule Id="SA1112" Action="Warning" />
    <Rule Id="SA1113" Action="Warning" />
    <Rule Id="SA1114" Action="Warning" />
    <Rule Id="SA1115" Action="Warning" />
    <Rule Id="SA1116" Action="Warning" />
    <Rule Id="SA1117" Action="Warning" />
    <Rule Id="SA1118" Action="Warning" />
    <Rule Id="SA1119" Action="Warning" />
    <Rule Id="SA1120" Action="Warning" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1122" Action="Warning" />
    <Rule Id="SA1123" Action="Warning" />
    <Rule Id="SA1124" Action="Warning" />
    <Rule Id="SA1125" Action="Warning" />
    <Rule Id="SA1127" Action="Warning" />
    <Rule Id="SA1128" Action="Warning" />
    <Rule Id="SA1129" Action="Warning" />
    <Rule Id="SA1130" Action="Warning" />
    <Rule Id="SA1131" Action="Warning" />
    <Rule Id="SA1132" Action="Warning" />
    <Rule Id="SA1133" Action="Warning" />
    <Rule Id="SA1134" Action="Warning" />
    <Rule Id="SA1150" Action="None" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1201" Action="Warning" />
    <Rule Id="SA1202" Action="Warning" />
    <Rule Id="SA1203" Action="Warning" />
    <Rule Id="SA1204" Action="Warning" />
    <Rule Id="SA1205" Action="Warning" />
    <Rule Id="SA1206" Action="Warning" />
    <Rule Id="SA1207" Action="Warning" />
    <Rule Id="SA1208" Action="Warning" />
    <Rule Id="SA1209" Action="Warning" />
    <Rule Id="SA1210" Action="Warning" />
    <Rule Id="SA1211" Action="Warning" />
    <Rule Id="SA1212" Action="Warning" />
    <Rule Id="SA1213" Action="Warning" />
    <Rule Id="SA1214" Action="Warning" />
    <Rule Id="SA1216" Action="Warning" />
    <Rule Id="SA1217" Action="Warning" />
    <Rule Id="SA1300" Action="Warning" />
    <Rule Id="SA1302" Action="Warning" />
    <Rule Id="SA1303" Action="Warning" />
    <Rule Id="SA1304" Action="Warning" />
    <Rule Id="SA1306" Action="Warning" />
    <Rule Id="SA1307" Action="Warning" />
    <Rule Id="SA1308" Action="Warning" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1310" Action="Warning" />
    <Rule Id="SA1311" Action="Warning" />
    <Rule Id="SA1312" Action="Warning" />
    <Rule Id="SA1313" Action="Warning" />
    <Rule Id="SA1400" Action="Warning" />
    <Rule Id="SA1401" Action="Warning" />
    <Rule Id="SA1402" Action="Warning" />
    <Rule Id="SA1403" Action="Warning" />
    <Rule Id="SA1404" Action="Warning" />
    <Rule Id="SA1405" Action="Warning" />
    <Rule Id="SA1406" Action="Warning" />
    <Rule Id="SA1407" Action="Warning" />
    <Rule Id="SA1408" Action="Warning" />
    <Rule Id="SA1409" Action="Warning" />
    <Rule Id="SA1410" Action="Warning" />
    <Rule Id="SA1411" Action="Warning" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1501" Action="Warning" />
    <Rule Id="SA1502" Action="Warning" />
    <Rule Id="SA1503" Action="Warning" />
    <Rule Id="SA1504" Action="Warning" />
    <Rule Id="SA1505" Action="Warning" />
    <Rule Id="SA1506" Action="Warning" />
    <Rule Id="SA1507" Action="Warning" />
    <Rule Id="SA1508" Action="Warning" />
    <Rule Id="SA1509" Action="Warning" />
    <Rule Id="SA1510" Action="Warning" />
    <Rule Id="SA1511" Action="Warning" />
    <Rule Id="SA1512" Action="Warning" />
    <Rule Id="SA1513" Action="Warning" />
    <Rule Id="SA1514" Action="Warning" />
    <Rule Id="SA1515" Action="Warning" />
    <Rule Id="SA1516" Action="Warning" />
    <Rule Id="SA1517" Action="Warning" />
    <Rule Id="SA1518" Action="Warning" />
    <Rule Id="SA1519" Action="Warning" />
    <Rule Id="SA1520" Action="Warning" />
    <Rule Id="SA1528" Action="None" />
    <Rule Id="SA1600" Action="Warning" />
    <Rule Id="SA1601" Action="Warning" />
    <Rule Id="SA1602" Action="Warning" />
    <Rule Id="SA1604" Action="Warning" />
    <Rule Id="SA1605" Action="Warning" />
    <Rule Id="SA1606" Action="Warning" />
    <Rule Id="SA1607" Action="Warning" />
    <Rule Id="SA1608" Action="Warning" />
    <Rule Id="SA1610" Action="Warning" />
    <Rule Id="SA1611" Action="Warning" />
    <Rule Id="SA1612" Action="Warning" />
    <Rule Id="SA1613" Action="Warning" />
    <Rule Id="SA1614" Action="Warning" />
    <Rule Id="SA1615" Action="Warning" />
    <Rule Id="SA1616" Action="Warning" />
    <Rule Id="SA1617" Action="Warning" />
    <Rule Id="SA1618" Action="Warning" />
    <Rule Id="SA1619" Action="Warning" />
    <Rule Id="SA1620" Action="Warning" />
    <Rule Id="SA1621" Action="Warning" />
    <Rule Id="SA1622" Action="Warning" />
    <Rule Id="SA1623" Action="Warning" />
    <Rule Id="SA1624" Action="Warning" />
    <Rule Id="SA1625" Action="Warning" />
    <Rule Id="SA1626" Action="Warning" />
    <Rule Id="SA1627" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1634" Action="Warning" />
    <Rule Id="SA1635" Action="Warning" />
    <Rule Id="SA1636" Action="Warning" />
    <Rule Id="SA1637" Action="Warning" />
    <Rule Id="SA1638" Action="Warning" />
    <Rule Id="SA1640" Action="Warning" />
    <Rule Id="SA1641" Action="Warning" />
    <Rule Id="SA1642" Action="Warning" />
    <Rule Id="SA1643" Action="Warning" />
    <Rule Id="SA1648" Action="Warning" />
    <Rule Id="SA1649" Action="Warning" />
    <Rule Id="SA1651" Action="Warning" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>